# CSV Data Analysis

This script provides examples of basic and more sophisticated ways to analyze data read in from comma separated values (CSV) files through Pandas.

- Created by: Tomer Burg
- Last updated: 27 March 2022

As usual, let's start with importing the necessary packages:

In [1]:
import numpy as np
import pandas as pd

In the "read CSV data" script we reviewed different methods of reading in CSV files. Here we'll use Pandas to read in the `temperature.csv` file provided in this directory, containing hypothetical temperatures for a whole month. This file has 3 columns: Day, Max, Min. The latter two represent the maximum and minimum degrees in Fahrenheit.

By using Pandas's `read_csv()` method, as described more in the separate "Read CSV data" script provided in this directory, this parses a CSV file by the provided delimiter, in this case a comma, and returns the output as a `DataFrame`.

In [2]:
df = pd.read_csv("temperature.csv",delimiter=',')
df

    Day  Max  Min
0     1   57   32
1     2   65   33
2     3   74   52
3     4   76   38
4     5   40   22
5     6   28   12
6     7   26    8
7     8   31   -2
8     9   35    2
9    10   28   12
10   11   26    5
11   12   22   -6
12   13   31   -1
13   14   36    9
14   15   49   22
15   16   55   32
16   17   53   48
17   18   56   27
18   19   39   22
19   20   35   24
20   21   41   26
21   22   38   28
22   23   33   25
23   24   35   22
24   25   44   19
25   26   52   29
26   27   61   41
27   28   64   52

## Peeking through the file

This is a manageable dataset, but if we were to have a massive dataset with thousands of rows it'd be difficult to view all of them.

Luckily, we can get a glimpse through the start and end of the dataframe. Let's look at the first and last 5 rows:

In [3]:
df.head(5)

   Day  Max  Min
0    1   57   32
1    2   65   33
2    3   74   52
3    4   76   38
4    5   40   22

In [4]:
df.tail(5)

    Day  Max  Min
23   24   35   22
24   25   44   19
25   26   52   29
26   27   61   41
27   28   64   52

Pandas Dataframes also allow us to retrieve a list of the names of columns:

In [5]:
columns = df.columns
print(columns)

Index(['Day', 'Max', 'Min'], dtype='object')

By default, this is not a list - but we can easily convert it to one:

In [6]:
print(list(columns))

['Day', 'Max', 'Min']

In this particular case, the index of the row is a generally meaningless number. But say this is assigned a useful value, for example if each row had a title. For this we'll look at an example DataFrame where each column corresponds to a month and each row corresponds to a city:

In [7]:
df_test = pd.DataFrame({
    'Cities': ['New York','Philadelphia','Washington DC','Richmond'],
    'January': [31,39,45,48],
    'February': [35,44,51,54],
    'March': [41,50,62,65],
})
df_test

          Cities  January  February  March
0       New York       31        35     41
1   Philadelphia       39        44     50
2  Washington DC       45        51     62
3       Richmond       48        54     65

We can now assign the index of the DataFrame to be the "Cities" column:

In [8]:
df_test = df_test.set_index('Cities')
df_test

               January  February  March
Cities
New York            31        35     41
Philadelphia        39        44     50
Washington DC       45        51     62
Richmond            48        54     65

Now if we want to retrieve the list of row titles, we can do so as follows:

In [9]:
print(df_test.index)

Index(['New York', 'Philadelphia', 'Washington DC', 'Richmond'], dtype='object', name='Cities')

And if we now want to retrieve the row for New York, we can do so as follows:

In [10]:
df_test.loc['New York']

January     31
February    35
March       41
Name: New York, dtype: int64

## Subsetting a DataFrame

If we don't want to view the entire DataFrame, but only search for a couple of rows that meet a set of criteria, we can easily do so!

Let's say we want to only look for days that have a maximum temperature above 50F. We can use the DataFrame's `.loc[]` method, where within the brackets we enclose a conditional statement, in this case checking for any row where the maximum temperature column `df['Max']` has a value greater than 50.

In [11]:
df.loc[df['Max'] > 50]

    Day  Max  Min
0     1   57   32
1     2   65   33
2     3   74   52
3     4   76   38
15   16   55   32
16   17   53   48
17   18   56   27
25   26   52   29
26   27   61   41
27   28   64   52

Now we want to further complicate this by adding **another** criteria - we want to only look for days that have both a maximum temperature above 50F, **and** a minimum temperature above 40F.

We can enclose multiple conditional statements within the `.loc[]` method by placing each condition within parentheses, and adding an & to indicate that both conditions must be met.

In [12]:
df.loc[(df['Max'] > 50) & (df['Min'] > 40)]

    Day  Max  Min
2     3   74   52
16   17   53   48
26   27   61   41
27   28   64   52

Let's say we want to now look for days that have a high temperature above 50 degrees, **or** a low temperature below 0 degrees. That means both conditions no longer must be true for the row to be selected - it's sufficient for one or both conditions to be true for the row to be selected.

To do this, we'll use the | operator, meaning "or":

In [13]:
df.loc[(df['Max'] > 50) | (df['Min'] < 0)]

    Day  Max  Min
0     1   57   32
1     2   65   33
2     3   74   52
3     4   76   38
7     8   31   -2
11   12   22   -6
12   13   31   -1
15   16   55   32
16   17   53   48
17   18   56   27
25   26   52   29
26   27   61   41
27   28   64   52

## Searching for extrema

Let's perform some basic operations on this data to get the highest, lowest and average values for maximum and minimum temperatures. One way we can do this is by retrieving a Numpy array of the data:

In [14]:
maximum_temperatures = df['Max'].values
print(f"Average maximum temperature: {int(np.mean(maximum_temperatures))} degF")
print(f"Highest maximum temperature: {np.max(maximum_temperatures)} degF")
print(f"Lowest maximum temperature: {np.min(maximum_temperatures)} degF")
print("")
minimum_temperatures = df['Min'].values
print(f"Average minimum temperature: {int(np.mean(minimum_temperatures))} degF")
print(f"Highest minimum temperature: {np.max(minimum_temperatures)} degF")
print(f"Lowest minimum temperature: {np.min(minimum_temperatures)} degF")

Average maximum temperature: 43 degF
Highest maximum temperature: 76 degF
Lowest maximum temperature: 22 degF

Average minimum temperature: 22 degF
Highest minimum temperature: 52 degF
Lowest minimum temperature: -6 degF

Luckily, Pandas Dataframes has built-in functions to perform these operations internally, so we can skip the extra step of retrieving the Numpy array of the data.

In [15]:
print(f"Average maximum temperature: {int(df['Max'].mean())} degF")
print(f"Highest maximum temperature: {df['Max'].max()} degF")
print(f"Lowest maximum temperature: {df['Max'].min()} degF")
print("")
print(f"Average minimum temperature: {int(df['Min'].mean())} degF")
print(f"Highest minimum temperature: {df['Min'].max()} degF")
print(f"Lowest minimum temperature: {df['Min'].min()} degF")

Average maximum temperature: 43 degF
Highest maximum temperature: 76 degF
Lowest maximum temperature: 22 degF

Average minimum temperature: 22 degF
Highest minimum temperature: 52 degF
Lowest minimum temperature: -6 degF

Let's take an extra step of finding the day of the month of each extrema. We do this for each extrema by finding the row that equals the extrema value, then retrieving the "day" column entry for that row.

In [16]:
highest_max_day = df.loc[df['Max'] == df['Max'].max()]['Day'].values[0]
lowest_max_day = df.loc[df['Max'] == df['Max'].min()]['Day'].values[0]

highest_min_day = df.loc[df['Min'] == df['Min'].max()]['Day'].values[0]
lowest_min_day = df.loc[df['Min'] == df['Min'].min()]['Day'].values[0]

print(f"Day of warmest maximum: {highest_max_day}")
print(f"Day of coldest maximum: {lowest_max_day}")
print("")
print(f"Day of warmest minimum: {highest_min_day}")
print(f"Day of coldest minimum: {lowest_min_day}")

Day of warmest maximum: 4
Day of coldest maximum: 12

Day of warmest minimum: 3
Day of coldest minimum: 12

## Performing calculations on a DataFrame

Let's say hypothetically that the average temperature for every day during this month at this location is as follows:

- Average maximum: 43 degF
- Average minimum: 25 degF

We can use this to calculate the monthly departure from normal.

In [17]:
average_max = 43
average_min = 25

max_temp_anomaly = df['Max'] - average_max
min_temp_anomaly = df['Min'] - average_min

monthly_max_temp_anomaly = max_temp_anomaly.mean()
monthly_min_temp_anomaly = min_temp_anomaly.mean()
monthly_temp_anomaly = np.mean([monthly_max_temp_anomaly,monthly_min_temp_anomaly])

print(f"Max temp anomaly: {np.round(monthly_max_temp_anomaly,2)} degF")
print(f"Min temp anomaly: {np.round(monthly_min_temp_anomaly,2)} degF")
print(f"Monthly temp anomaly: {np.round(monthly_temp_anomaly,2)} degF")

Max temp anomaly: 0.93 degF
Min temp anomaly: -2.39 degF
Monthly temp anomaly: -0.73 degF

Let's say we want to now look at a column of daily mean temperatures, by averaging the daily maximum and minimum temperatures, and add it into our main Dataframe.

In [18]:
#Calculate the mean of the "Max" and "Min" columns along each row
daily_mean = df[['Max','Min']].mean(axis=1)

#Create a new "Mean" column in the dataframe, assigning it the array we just calculated
df['Mean'] = daily_mean

df

    Day  Max  Min  Mean
0     1   57   32  44.5
1     2   65   33  49.0
2     3   74   52  63.0
3     4   76   38  57.0
4     5   40   22  31.0
5     6   28   12  20.0
6     7   26    8  17.0
7     8   31   -2  14.5
8     9   35    2  18.5
9    10   28   12  20.0
10   11   26    5  15.5
11   12   22   -6   8.0
12   13   31   -1  15.0
13   14   36    9  22.5
14   15   49   22  35.5
15   16   55   32  43.5
16   17   53   48  50.5
17   18   56   27  41.5
18   19   39   22  30.5
19   20   35   24  29.5
20   21   41   26  33.5
21   22   38   28  33.0
22   23   33   25  29.0
23   24   35   22  28.5
24   25   44   19  31.5
25   26   52   29  40.5
26   27   61   41  51.0
27   28   64   52  58.0

We can also use more sophisticated operations, such as looking at the standard deviation of maximum temperatures:

In [19]:
print(f"Standard deviation: {df['Max'].std()} degF")

Standard deviation: 15.097040601410429 degF

Next, we'll take a look at percentiles for the monthly maximum temperatures:

In [20]:
print(f"10th Percentile: {df['Max'].quantile(0.10)}")
print(f"25th Percentile: {df['Max'].quantile(0.25)}")
print(f"50th Percentile: {df['Max'].quantile(0.50)}")
print(f"75th Percentile: {df['Max'].quantile(0.75)}")
print(f"90th Percentile: {df['Max'].quantile(0.90)}")

10th Percentile: 27.4
25th Percentile: 32.5
50th Percentile: 39.5
75th Percentile: 55.25
90th Percentile: 64.3

Let's say we want to look at each day's maximum temperature as a percentile rank, where 0.0 is the minimum value of the month and 1.0 is the maximum value of the month.

In [21]:
percentile_ranks = df['Max'].rank(pct=True)
print(percentile_ranks)

0     0.821429
1     0.928571
2     0.964286
3     1.000000
4     0.535714
5     0.160714
6     0.089286
7     0.232143
8     0.357143
9     0.160714
10    0.089286
11    0.035714
12    0.232143
13    0.428571
14    0.642857
15    0.750000
16    0.714286
17    0.785714
18    0.500000
19    0.357143
20    0.571429
21    0.464286
22    0.285714
23    0.357143
24    0.607143
25    0.678571
26    0.857143
27    0.892857
Name: Max, dtype: float64

Conversely, let's say we want to find the percentile rank of a value that's not in the dataset (e.g., a maximum temperature of 54). For this, we'll need to import Scipy:

In [22]:
import scipy.stats as stats

print(stats.percentileofscore(df['Max'],54))

71.42857142857143

This tells us that 54 degF ranks around the 71st percentile of the monthly temperature distribution.

## Modifying a DataFrame

Deleting columns in Pandas DataFrames is really easy! Recall we added a "mean" column earlier:

In [23]:
df.head(5)

   Day  Max  Min  Mean
0    1   57   32  44.5
1    2   65   33  49.0
2    3   74   52  63.0
3    4   76   38  57.0
4    5   40   22  31.0

We can simply delete it as follows:

In [24]:
del df['Mean']
df.head(5)

   Day  Max  Min
0    1   57   32
1    2   65   33
2    3   74   52
3    4   76   38
4    5   40   22